*{
    margin:0px;
    padding:0px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, rgb(28, 28, 28) 70%, black);
    height: 100vh;
    flex-direction: column;
    width: 100vw;
}

header{
    height: 10vh;
}
.title{
    text-align: center;
    animation: zoom-in 2s cubic-bezier(1, 0, 0, 1) forwards;
    position: relative;
}
.title h1{
    position: absolute;
    left: 50%;
    top: 170px; /* You can adjust this value for vertical positioning */
    transform: translate(-50%) scale(1.5); /* Translate to center horizontally */
    color: rgb(255, 255, 255);
    font-size: 670px;
}

.arrowLeft, .arrowRight, .mainButton{
    position: absolute;
    text-align: center;
    color:white;
}
.arrowLeft{
    left:470px;
    top:500px;
}
.arrowRight{
    left:2000px;
    top:500px;
}
.arrowLeft:hover, .arrowRight:hover, .mainButton:hover{
    cursor: pointer;
}
.arrowLeft p, .arrowRight p{
    font-size: 80px;
}

.mainButton{
    left: 620px;
    top: 180px;
    width: 68px;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
    padding: 5px;
}
#block1, #block2, #block3, #block4{
    width: 20px;
    height: 20px;
    background: white;
    border: 5px solid black;
    border-radius: 50px;
    margin: 1px;
}

main{
    height: 60vh;
}
main img{
    height: 60vh;
    box-shadow: 0px 0px 100px black;
    border-radius: 100px;
}

footer{
    height: 20vh;
    background-color: rgb(55, 55, 55);
    margin-bottom: 10vh;
    margin-left: 0.1vh;
    width: 54.6vw;
    display: flex;
    justify-content: space-evenly;
    color: white;
    box-shadow: 0px 0px 100px black;
}
footer div{
    margin:60px 0px 0px;
    text-align: center;
}

p{
    font-size: 18px;
}

#creator{
    border:1px solid transparent;
    border-radius: 100px;
    height: 10vh;
}


@keyframes zoom-in{
    0%{
        transform: translateY(-10%) scale(0.01);
    }
    100%{
        transform: translateY(-50%,0) scale(1);
    }
}
